In [80]:
import pandas as pd
import numpy as np
import json

In [81]:
tweets_clean = pd.read_csv('twitter-archive-enhanced.csv')

In [82]:
tweets_clean = tweets_clean[tweets_clean.retweeted_status_id.isnull()]

In [83]:
tweets_clean = tweets_clean[['tweet_id', 'timestamp', 'text', 'rating_numerator', 'rating_denominator', 'name']]

In [84]:
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 6 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null object
text                  2175 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
dtypes: int64(3), object(3)
memory usage: 118.9+ KB

In [74]:
tweets_clean.rating_numerator = tweets_clean.rating_numerator.astype(float)
tweets_clean.rating_denominator = tweets_clean.rating_denominator.astype(float)
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 6 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null object
text                  2175 non-null object
rating_numerator      2175 non-null float64
rating_denominator    2175 non-null float64
name                  2175 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 118.9+ KB

In [78]:
#tweets_clean.rating_numerator = tweets_clean.text.str.extract('([1-9]*\.?[1-9]+)(?:/[1-9]+0)', expand=False).values
#tweets_clean.rating_denominator = tweets_clean.text.str.extract('(?:[1-9]*\.?[1-9]+/)([1-9]+0)', expand=False).values
#tweets_clean.rating_numerator.value_counts()

12       498
11       423
13       307
9        153
8         98
7         57
14        44
5         35
6         33
4         20
3         19
2          9
1          7
.11        4
.9         3
.12        2
1776       1
182        1
88         1
99         1
11.26      1
666        1
9.5        1
17         1
121        1
143        1
11.27      1
.8         1
144        1
45         1
13.5       1
9.75       1
44         1
.13        1
15         1
165        1
84         1
Name: rating_numerator, dtype: int64

In [86]:
tweets_clean.rating_numerator = tweets_clean.text.str.extract('([1-9]+\.*)([1-9]+)(?:/[1-9]+0)', expand=False).values
tweets_clean.rating_denominator = tweets_clean.text.str.extract('(?:[1-9]*\.?[1-9]+/)([1-9]+0)', expand=False).values
tweets_clean.rating_numerator.value_counts()

1      1285
11.       2
9.        2
14        2
8         2
4         2
66        1
12        1
13.       1
16        1
9         1
177       1
18        1
Name: rating_numerator, dtype: int64

In [87]:
tweets_clean.rating_numerator = tweets_clean.text.str.extract('(([1-9]*\.?)[1-9]+)(?:/[1-9]+0)', expand=False).values
#tweets_clean.rating_denominator = tweets_clean.text.str.extract('(?:[1-9]*\.?[1-9]+/)([1-9]+0)', expand=False).values
tweets_clean.rating_numerator.value_counts()

12       498
11       423
13       307
9        153
8         98
7         57
14        44
5         35
6         33
4         20
3         19
2          9
1          7
.11        4
.9         3
.12        2
1776       1
182        1
88         1
99         1
11.26      1
666        1
9.5        1
17         1
121        1
143        1
11.27      1
.8         1
144        1
45         1
13.5       1
9.75       1
44         1
.13        1
15         1
165        1
84         1
Name: rating_numerator, dtype: int64

In [99]:
#This one works!
tweets_clean.rating_numerator = tweets_clean.text.str.extract('(([1-9]+\.)?([1-9]+))(?:/[1-9]+0)', expand=False).values
#tweets_clean.rating_denominator = tweets_clean.text.str.extract('(?:[1-9]*\.?[1-9]+/)([1-9]+0)', expand=False).values
tweets_clean.rating_denominator = tweets_clean.text.str.extract('(?:(([1-9]+\.)?([1-9]+)/))([1-9]+0)', expand=False).values
tweets_clean.rating_numerator.value_counts()

12       500
11       427
13       308
9        156
8         99
7         57
14        44
5         35
6         33
4         20
3         19
2          9
1          7
99         1
182        1
11.26      1
666        1
17         1
1776       1
143        1
84         1
144        1
45         1
9.5        1
44         1
15         1
165        1
11.27      1
121        1
9.75       1
88         1
13.5       1
Name: rating_numerator, dtype: int64

In [100]:
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 6 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null object
text                  2175 non-null object
rating_numerator      1733 non-null object
rating_denominator    1733 non-null object
name                  2175 non-null object
dtypes: int64(1), object(5)
memory usage: 118.9+ KB

In [101]:
pd.set_option('max_colwidth', 140)
tweets_clean[tweets_clean['rating_numerator']=='.11'].text

Series([], Name: text, dtype: object)

In [52]:
tweets_clean.rating_numerator = tweets_clean.text.str.extract('(([1-9]+\.*)([1-9]+))(?:/[1-9]+0)', expand=False).values
tweets_clean.rating_numerator.value_counts()

12       501
11       428
13       310
14        44
84         1
45         1
99         1
11.26      1
666        1
17         1
1776       1
143        1
144        1
44         1
13.5       1
9.5        1
15         1
165        1
11.27      1
121        1
9.75       1
88         1
182        1
Name: rating_numerator, dtype: int64

In [56]:
tweets_clean.rating_numerator = tweets_clean.text.str.extract('([1-9]+\.*[1-9]+)(?:/[1-9]+0)', expand=False).values
tweets_clean.rating_numerator.value_counts()

12       501
11       428
13       310
14        44
84         1
45         1
99         1
11.26      1
666        1
17         1
1776       1
143        1
144        1
44         1
13.5       1
9.5        1
15         1
165        1
11.27      1
121        1
9.75       1
88         1
182        1
Name: rating_numerator, dtype: int64

In [50]:
pd.set_option('max_colwidth', 140)
tweets_clean[tweets_clean['rating_numerator']=='11.27'].text

763    This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile bac...
Name: text, dtype: object

In [51]:
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 6 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null object
text                  2175 non-null object
rating_numerator      1302 non-null object
rating_denominator    1733 non-null object
name                  2175 non-null object
dtypes: int64(1), object(5)
memory usage: 118.9+ KB