æ¸…æ´—è¿™ä¸ªé¡¹ç›®çš„æ•°æ®æ—¶è¦ç‰¢è®°å‡ ä¸ªè¦ç‚¹ï¼š
- æˆ‘ä»¬åªéœ€è¦å«æœ‰å›¾ç‰‡çš„åŸå§‹è¯„çº§ (ä¸åŒ…æ‹¬è½¬å‘)ã€‚å°½ç®¡æ•°æ®é›†ä¸­æœ‰ 5000 å¤šæ¡æ•°æ®ï¼Œä½†æ˜¯å¹¶ä¸æ˜¯æ‰€æœ‰éƒ½æ˜¯ç‹—ç‹—è¯„åˆ†ï¼Œå¹¶ä¸”å…¶ä¸­æœ‰ä¸€äº›æ˜¯è½¬å‘ã€‚
- å®Œæ•´åœ°è¯„ä¼°å’Œæ¸…ç†æ•´ä¸ªæ•°æ®é›†å°†éœ€è¦å¤§é‡æ—¶é—´ï¼Œå®è·µå’Œå±•ç¤ºæ•°æ®å¤„ç†æŠ€å·§æ²¡æœ‰å¿…è¦å°†è¿™ä¸ªæ•°æ®é›†å…¨éƒ¨æ¸…ç†ã€‚å› æ­¤ï¼Œæœ¬é¡¹ç›®çš„è¦æ±‚åªæ˜¯è¯„ä¼°å’Œæ¸…ç†æ­¤æ•°æ®é›†ä¸­çš„è‡³å°‘ 8 ä¸ªè´¨é‡é—®é¢˜å’Œè‡³å°‘ 2 ä¸ªæ•´æ´åº¦é—®é¢˜ã€‚
- æ ¹æ® æ•´æ´æ•°æ® tidy data çš„è§„åˆ™è¦æ±‚ï¼Œæœ¬é¡¹ç›®çš„æ•°æ®æ¸…ç†åº”è¯¥åŒ…æ‹¬å°†ä¸‰ä¸ªæ•°æ®ç‰‡æ®µè¿›è¡Œåˆå¹¶ã€‚
- å¦‚æœåˆ†å­è¯„çº§è¶…è¿‡åˆ†æ¯è¯„çº§ï¼Œä¸éœ€è¦è¿›è¡Œæ¸…æ´—ã€‚è¿™ä¸ª ç‰¹æ®Šè¯„åˆ†ç³»ç»Ÿ æ˜¯ WeRateDogs äººæ°”åº¦è¾ƒé«˜çš„ä¸»è¦åŸå› ã€‚ï¼ˆåŒæ ·ï¼Œä¹Ÿä¸éœ€è¦åˆ é™¤åˆ†å­å°äºåˆ†æ¯çš„æ•°æ®ï¼‰
- ä¸å¿…æ”¶é›† 2017 å¹´ 8 æœˆ 1 æ—¥ä¹‹åçš„æ•°æ®ï¼Œä½ å¯ä»¥æ”¶é›†åˆ°è¿™äº›æ¨ç‰¹çš„åŸºæœ¬ä¿¡æ¯ï¼Œä½†æ˜¯ä½ ä¸èƒ½æ”¶é›†åˆ°è¿™äº›æ¨ç‰¹å¯¹åº”çš„å›¾åƒé¢„æµ‹æ•°æ®ï¼Œå› ä¸ºä½ æ²¡æœ‰å›¾åƒé¢„æµ‹ç®—æ³•çš„ä½¿ç”¨æƒé™ã€‚

- æ•°æ®æ•´ç†ï¼Œå…¶ä¸­åŒ…æ‹¬ï¼š
  - æ”¶é›†æ•°æ®
  - è¯„ä¼°æ•°æ®ï¼šæ”¶é›†ä¸Šè¿°ä¸‰ä¸ªæ•°æ®é›†ä¹‹åï¼Œä½¿ç”¨ç›®æµ‹è¯„ä¼°å’Œç¼–ç¨‹è¯„ä¼°çš„æ–¹å¼ï¼Œå¯¹æ•°æ®è¿›è¡Œè´¨é‡å’Œæ¸…æ´åº¦çš„è¯„ä¼°ã€‚åœ¨ä½ çš„ wrangle_act.ipynb Jupyter Notebook ä¸­è®°å½•è¯„ä¼°è¿‡ç¨‹å’Œç»“æœï¼Œæœ€ç»ˆåˆ—å‡ºè‡³å°‘ 8 ä¸ªè´¨é‡é—®é¢˜ å’Œ 2 ä¸ªæ¸…æ´åº¦é—®é¢˜ã€‚è¦ç¬¦åˆé¡¹ç›®è§„èŒƒï¼Œå¿…é¡»å¯¹é¡¹ç›®åŠ¨æœºä¸­çš„è¦æ±‚è¿›è¡Œè¯„ä¼°ï¼ˆå‚è§ä¸Šä¸€é¡µè¯¾ç¨‹çš„ å…³é”®è¦ç‚¹ æ ‡é¢˜ï¼‰ã€‚
  - æ¸…æ´—æ•°æ®ï¼šå¯¹ä½ åœ¨è¯„ä¼°æ—¶åˆ—å‡ºçš„æ¯ä¸ªé—®é¢˜è¿›è¡Œæ¸…æ´—ã€‚åœ¨ wrangle_act.ipynb å±•ç¤ºæ¸…æ´—çš„è¿‡ç¨‹ã€‚ç»“æœåº”è¯¥ä¸ºä¸€ä¸ªä¼˜è´¨å¹²å‡€æ•´æ´çš„ä¸»æ•°æ®é›†ï¼ˆpandas DataFrame ç±»å‹ï¼‰ ï¼ˆå¦‚æœéƒ½æ˜¯ä»¥æ¨ç‰¹ ID ä¸ºè§‚å¯Ÿå¯¹è±¡çš„ä¸€äº›ç‰¹å¾åˆ—ï¼Œåˆ™æ¸…ç†æœ€ç»ˆåªèƒ½æœ‰ä¸€ä¸ªä¸»æ•°æ®é›†ï¼Œå¦‚æœæœ‰å…¶ä»–è§‚å¯Ÿå¯¹è±¡åŠå…¶å¯¹åº”çš„ç‰¹å¾å­—æ®µï¼Œå¯ä»¥åˆ›å»ºå…¶ä»–çš„æ•°æ®é›†ï¼ŒåŒæ ·éœ€è¦æ¸…ç†ï¼‰ã€‚åŒæ ·åœ°ï¼Œå¿…é¡»ç¬¦åˆé¡¹ç›®åŠ¨æœºçš„è¦ç‚¹è¦æ±‚ã€‚
- å¯¹æ¸…æ´—è¿‡çš„æ•°æ®è¿›è¡Œå‚¨å­˜ã€åˆ†æå’Œå¯è§†åŒ–ï¼šå°†æ¸…ç†åçš„æ•°æ®é›†å­˜å‚¨åˆ° CSV æ–‡ä»¶ä¸­ï¼Œå‘½åä¸º twitter_archive_master.csvã€‚å¦‚æœæœ‰å…¶ä»–è§‚å¯Ÿå¯¹è±¡çš„æ•°æ®é›†å­˜åœ¨ï¼Œéœ€è¦å¤šä¸ªè¡¨æ ¼ï¼Œé‚£ä¹ˆè¦ç»™è¿™äº›æ–‡ä»¶åˆç†å‘½åã€‚å¦å¤–ï¼Œä½ ä¹Ÿå¯ä»¥æŠŠæ¸…æ´—åçš„æ•°æ®å­˜å‚¨åœ¨ SQLite æ•°æ®åº“ä¸­ï¼ˆå¦‚æœè¿™æ ·å­˜å‚¨çš„è¯ï¼Œè¯¥æ•°æ®åº“æ–‡ä»¶ä¹Ÿéœ€è¦æäº¤ï¼‰ã€‚åœ¨ wrangle_act.ipynb Jupyter Notebook ä¸­å¯¹æ¸…æ´—åçš„æ•°æ®è¿›è¡Œåˆ†æå’Œå¯è§†åŒ–ã€‚å¿…é¡»ç”Ÿæˆè‡³å°‘ 3 ä¸ªè§è§£å’Œ 1 ä¸ªå¯è§†åŒ–ã€‚
- ä¹¦é¢æŠ¥å‘Š 1) ä½ çš„æ•°æ®æ•´ç†å·¥ä½œ å’Œ 2) ä½ çš„æ•°æ®åˆ†æå’Œå¯è§†åŒ–ï¼šåˆ›å»ºä¸€ä¸ª 300-600 å­—çš„ä¹¦é¢æŠ¥å‘Šï¼Œå‘½åä¸º wrangle_report.pdfï¼Œåœ¨è¯¥æŠ¥å‘Šä¸­ç®€è¦æè¿°ä½ çš„æ•°æ®æ•´ç†è¿‡ç¨‹ã€‚è¿™ä»½æŠ¥å‘Šå¯ä»¥çœ‹ä½œæ˜¯ä¸€ä»½å†…éƒ¨æ–‡æ¡£ï¼Œä¾›ä½ çš„å›¢é˜Ÿæˆå‘˜æŸ¥çœ‹äº¤æµã€‚åˆ›å»ºä¸€ä¸ª 250 å­—ä»¥ä¸Šçš„ä¹¦é¢æŠ¥å‘Šï¼Œå‘½åä¸º act_report.pdfï¼Œåœ¨è¯¥æŠ¥å‘Šä¸­ï¼Œä½ å¯ä»¥ä¸è¯»è€…äº¤æµè§‚ç‚¹ï¼Œå±•ç¤ºä½ ä½¿ç”¨æ•´ç†è¿‡çš„æ•°æ®ç”Ÿæˆçš„å¯è§†åŒ–å›¾è¡¨ã€‚è¿™ä»½æŠ¥å‘Šå¯ä»¥çœ‹ä½œæ˜¯ä¸€ä»½å¤–éƒ¨æ–‡æ¡£ï¼Œå¦‚åšå®¢å¸–å­æˆ–æ‚å¿—æ–‡ç« ã€‚

## æ”¶é›†

In [1]:
import pandas as pd
import json

In [2]:
twitters = pd.read_csv('twitter-archive-enhanced.csv')
predictions = pd.read_csv('image-predictions.tsv', sep = '\t')
json = pd.read_json('tweet_json.json',lines=True)

## è¯„ä¼°

In [10]:
twitters.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [4]:
twitters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [6]:
twitters.nunique()

tweet_id                      2356
in_reply_to_status_id           77
in_reply_to_user_id             31
timestamp                     2356
source                           4
text                          2356
retweeted_status_id            181
retweeted_status_user_id        25
retweeted_status_timestamp     181
expanded_urls                 2218
rating_numerator                40
rating_denominator              18
name                           957
doggo                            2
floofer                          2
pupper                           2
puppo                            2
dtype: int64

In [5]:
twitters.text.value_counts()

This is Bruce. He never backs down from a challenge. 11/10 you got this Bruce https://t.co/aI7umZHIq7                                                                       1
This is Rudy. He's going to be a star. 13/10 talented af (vid by @madalynrossi) https://t.co/Dph4FDGoMd                                                                     1
This is Jeph. He's a Western Sagittarius Dookmarriot. Frightened by leaf. Caught him off guard. 10/10 calm down Jeph https://t.co/bicyOV6lju                                1
When she says she'll be ready in a minute but you've been waiting in the car for almost an hour. 10/10 https://t.co/EH0N3dFKUi                                              1
Say hello to Nala. She's a Freckled High Bruschetta. Petable af. 12/10 https://t.co/5bjrIRqByp                                                                              1
This is Sam. He's trying to escape the inordinate monotony of conforming to everyday status quo. 10/10 https://t.co/PXnCdz8qzK                                              1
Meet Lorenzo. He's an avid nifty hat wearer and absolute 13/10, but he needs your help to beat cancer. Link below\r\n\r\nhttps://t.co/qZdSdzm08p https://t.co/oDIQ1KkdPt    1
This is Lou. His sweater is too small and he already cut the tags off. Very very churlish. 10/10 would still pet https://t.co/dZPMLresEr                                    1
This is Fred. He's having one heck of a summer. 11/10 https://t.co/I7SFchkNk4                                                                                               1
This is Kirk. He just saw a bacon wrapped tennis ball and literally died. So sad. 12/10 RIP Kirk https://t.co/0twoigv5jP                                                    1
Ladies and gentlemen... I found Pipsy. He may have changed his name to Pablo, but he never changed his love for the sea. Pupgraded to 14/10 https://t.co/lVU5GyNFen         1
This is Chuckles. He is one skeptical pupper. 10/10 stay woke Chuckles https://t.co/ZlcF0TIRW1                                                                              1
This is Deacon. He's the happiest almost dry doggo I've ever seen. 11/10 would smile back https://t.co/C6fUMnHt1H                                                           1
This is Wesley. He's clearly trespassing. Seems rather h*ckin violent too. Weaponized forehead. 3/10 wouldn't let in https://t.co/pL7wbMRW7M                                1
This is Charlie. He wants to know if you have a moment to talk about washing machine insurance policies. 11/10 would hear him out https://t.co/gAzPqT7uyk                   1
This is Clark. He collects teddy bears. It's absolutely h*ckin horrifying. 8/10 please stop this Clark https://t.co/EDMcwt86fU                                              1
This is Rusty. He's going D1 for sure. Insane vertical. 13/10 would draft https://t.co/AsykOwMrXQ                                                                           1
This is Craig. That's actually a normal sized fence he's stuck on. H*ckin massive pupper. 11/10 someone help him https://t.co/aAUXzoxaBy                                    1
Can take selfies 11/10 https://t.co/ws2AMaNwPW                                                                                                                              1
Meet Colby. He's that one cool friend that gets you into every party. Great hat. Sneaky tongue slip. 10/10 good pup https://t.co/jBnz3MjTzX                                 1
This is Staniel. His selfie game is strong af. 10/10 I'd snapchat with Staniel https://t.co/UgkTw7TKyM                                                                      1
PUPDATE: just noticed this dog has some extra legs. Very advanced. Revolutionary af. Upgraded to a 9/10                                                                     1
This is Baron. He's officially festive as h*ck. Thinks it's just a fancy scarf. 11/10 would pat head approvingly https://t.co/PjulYEXTvg                                    1
This is a Deciduous Trimester mix named Spork. Only 1 ear works. No seat belt. Incredibly reckless. 9/10 still cute https://t.co/CtuJoLHiDo                                 1
This is Kendall. 12/10 would cuddle the hell out of https://t.co/fJulMurnfj                                                                                                 1
When you have a ton of work to do but then remember you have tomorrow off. 10/10 https://t.co/MfEaMUFYTx                                                                    1
This is Doc. He takes time out of every day to worship our plant overlords. 12/10 quite the floofer https://t.co/azMneS6Ly5                                                 1
This is Burt. He thinks your thesis statement is comically underdeveloped. 12/10 intellectual af https://t.co/jH6EN9cEn6                                                    1
This is Oscar and Oliver. Oliver shrunk Oscar. Oscar isn't pleased about it. Quite pupset tbh. Oliver doesn't seem to mind. Both 13/10 https://t.co/e3U4NReleC              1
Meet Aqua. She's a sandy pupper. Not sure how she feels about being so sandy. Radical tongue slip. 11/10 petable af https://t.co/rYxJ0UQtbE                                 1
                                                                                                                                                                           ..
This is Cooper. He tries to come across as feisty but it never works for very long. 12/10 https://t.co/AVks8DjHwB                                                           1
This is Newt. He's a strawberry. 11/10 https://t.co/2VhmlwxA1Q                                                                                                              1
We normally don't rate lobsters, but this one appears to be a really good lobster. 10/10 would pet with caution https://t.co/YkHc7U7uUy                                     1
All this pupper wanted to do was go skiing. No one told him about the El NiÃ±o. Poor pupper. 10/10 maybe next year https://t.co/fTgbq1UBR9                                   1
Meet Moe. He's a golden Fetty Woof. Doesn't respect the authorities. Might own a motorhome? 10/10 revolutionary pup https://t.co/JAncIdNp8G                                 1
This is Anakin. He strives to reach his full doggo potential. Born with blurry tail tho. 11/10 would still pet well https://t.co/9CcBSxCXXG                                 1
This is Maxaroni. He's curly af. Also rather fabulous. 11/10 would hug well https://t.co/A216OjIdca                                                                         1
Meet Clarence. He does parkour. 8/10 very talented dog https://t.co/WpSFZm7RPH                                                                                              1
This little fella really hates stairs. Prefers bush. 13/10 legendary pupper https://t.co/e3LPMAHj7p                                                                         1
This is Heinrich (pronounced "Pat"). He's a Botswanian Vanderfloof. Snazzy af bandana. 12/10 downright puptacular https://t.co/G56ikYAqFg                                   1
Meet OliviÃ©r. He takes killer selfies. Has a dog of his own. It leaps at random &amp; can't bark for shit. 10/10 &amp; 5/10 https://t.co/6NgsQJuSBJ                         1
This is Mingus. He's a wonderful father to his smol pup. Confirmed 13/10, but he needs your help\r\n\r\nhttps://t.co/bVi0Yr4Cff https://t.co/ISvKOSkd5b                     1
This is Herald. He likes to swing. Subtle tongue slip. Owner good at b-ball. Creepy person on bench back there. 9/10 https://t.co/rcrKkL7eB6                                1
@xianmcguire @Jenna_Marbles Kardashians wouldn't be famous if as a society we didn't place enormous value on what they do. The dogs are very deserving of their 14/10       1
Oh jeez u did me quite the spook little fella. We normally don't rate triceratops but this one seems suspiciously good. 11/10 would pet well https://t.co/BMtfCmNbnS        1
This is Henry. He's a shit dog. Short pointy ears. Leaves trail of pee. Not fluffy. Doesn't come when called. 2/10 https://t.co/Pu9RhfHDEQ                                  1
These are some pictures of Teddy that further justify his 13/10 rating. Please enjoy https://t.co/tDkJAnQsbQ                                                                1
RT @dog_rates: This is Chompsky. He lives up to his name. 11/10 https://t.co/Xl37lQEWd0                                                                                     1
Unbelievable. We only rate dogs. Please don't send in non-canines like the "I" from Pixar's opening credits. Thank you... 12/10 https://t.co/JMhDNv5wXZ                     1
This is Kaia. She's just cute as hell. 12/10 I'd kill for Kaia https://t.co/5fMdH8GFaq                                                                                      1
Meet Hanz. He heard some thunder. 10/10 https://t.co/pKJK23j0QZ                                                                                                             1
RT @dog_rates: Say hello to Quinn. She's quite the goofball. Not even a year old. Confirmed 13/10 but she really needs your help \r\n\r\nhttps://â€¦                          1
Happy New Year from your fav holiday squad! ğŸ‰ 12/10 for all\r\n\r\nHere's to a pupper-filled year ğŸ»ğŸ¶ğŸ¶ğŸ¶ https://t.co/ZSdEj59FGf                                              1
This is Dexter. He breaks hearts for a living. 11/10 h*ckin handsome af https://t.co/4DhSsC1W7S                                                                             1
When you see sophomores in high school driving. 11/10 https://t.co/m6aC8d1Kzp                                                                                               1
This is Rumpole. He'll be your Uber driver this evening. Won't start driving until you buckle pup. 13/10 h*ckin safe good boy https://t.co/EX9Z3EXlVP                       1
This is Cedrick. He's a spookster. Did me a discomfort. 10/10 would pet with a purpose https://t.co/yS7T4gxKod                                                              1
Reminder that we made our first set of stickers available! All are 12/10 would stick\r\nUse code "pupper" at checkoutğŸ¶\r\n\r\nhttps://t.co/kJIMNyMNKV                       1
This is Monster. Not an actual monster tho. He's showing you his tongue. Very impressive Monster. 12/10 would snug https://t.co/RhaPExuxJL                                  1
This is a carrot. We only rate dogs. Please only send in dogs. You all really should know this by now ...11/10 https://t.co/9e48aPrBm2                                      1
Name: text, Length: 2356, dtype: int64

In [8]:
twitters.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [9]:
twitters.doggo.value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [6]:
predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [8]:
predictions.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
194,669573570759163904,https://pbs.twimg.com/media/CUrNmtFWoAAnWCD.jpg,1,West_Highland_white_terrier,0.946828,True,miniature_schnauzer,0.022344,True,cairn,0.009462,True
143,668620235289837568,https://pbs.twimg.com/media/CUdqjvAWUAANfoU.jpg,1,crash_helmet,0.757942,False,toaster,0.037497,False,mouse,0.027271,False
1976,870308999962521604,https://pbs.twimg.com/media/DBP1asiUAAEKZI5.jpg,2,Greater_Swiss_Mountain_dog,0.622752,True,Appenzeller,0.158463,True,EntleBucher,0.148115,True
297,671390180817915904,https://pbs.twimg.com/media/CVFBzpXVEAAHIOv.jpg,1,zebra,0.997673,False,tiger,0.000837,False,prairie_chicken,0.000575,False
1627,804413760345620481,https://pbs.twimg.com/media/CuRDF-XWcAIZSer.jpg,1,chow,0.090341,True,binoculars,0.083499,False,Irish_setter,0.077456,True

In [9]:
predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [10]:
predictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [32]:
json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 31 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2352 non-null datetime64[ns]
display_text_range               2352 non-null object
entities                         2352 non-null object
extended_entities                2073 non-null object
favorite_count                   2352 non-null int64
favorited                        2352 non-null bool
full_text                        2352 non-null object
geo                              0 non-null float64
id                               2352 non-null int64
id_str                           2352 non-null int64
in_reply_to_screen_name          78 non-null object
in_reply_to_status_id            78 non-null float64
in_reply_to_status_id_str        78 non-null float64
in_reply_to_user_id              78 non-null float64
in_reply_to_user_id_str          78 non-null float64
is_quote_status                  2352 non-null bool
lang                             2352 non-null object
place                            1 non-null object
possibly_sensitive               2211 non-null float64
possibly_sensitive_appealable    2211 non-null float64
quoted_status                    28 non-null object
quoted_status_id                 29 non-null float64
quoted_status_id_str             29 non-null float64
retweet_count                    2352 non-null int64
retweeted                        2352 non-null bool
retweeted_status                 177 non-null object
source                           2352 non-null object
truncated                        2352 non-null bool
user                             2352 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(11)
memory usage: 505.4+ KB

In [33]:
json.describe()

,contributors,coordinates,favorite_count,geo,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,possibly_sensitive,possibly_sensitive_appealable,quoted_status_id,quoted_status_id_str,retweet_count
count,0.0,0.0,2352.000000,0.0,2.352000e+03,2.352000e+03,7.800000e+01,7.800000e+01,7.800000e+01,7.800000e+01,2211.0,2211.0,2.900000e+01,2.900000e+01,2352.000000
mean,NaN,NaN,8109.198980,NaN,7.425913e+17,7.425913e+17,7.455079e+17,7.455079e+17,2.014171e+16,2.014171e+16,0.0,0.0,8.162686e+17,8.162686e+17,3134.932398
std,NaN,NaN,11980.795669,NaN,6.846210e+16,6.846210e+16,7.582492e+16,7.582492e+16,1.252797e+17,1.252797e+17,0.0,0.0,6.164161e+16,6.164161e+16,5237.846296
min,NaN,NaN,0.000000,NaN,6.660209e+17,6.660209e+17,6.658147e+17,6.658147e+17,1.185634e+07,1.185634e+07,0.0,0.0,6.721083e+17,6.721083e+17,0.000000
25%,NaN,NaN,1417.000000,NaN,6.783949e+17,6.783949e+17,6.757419e+17,6.757419e+17,3.086374e+08,3.086374e+08,0.0,0.0,7.888183e+17,7.888183e+17,618.000000
50%,NaN,NaN,3596.500000,NaN,7.193536e+17,7.193536e+17,7.038708e+17,7.038708e+17,4.196984e+09,4.196984e+09,0.0,0.0,8.340867e+17,8.340867e+17,1456.500000
75%,NaN,NaN,10118.000000,NaN,7.991219e+17,7.991219e+17,8.257804e+17,8.257804e+17,4.196984e+09,4.196984e+09,0.0,0.0,8.664587e+17,8.664587e+17,3628.750000
max,NaN,NaN,132318.000000,NaN,8.924206e+17,8.924206e+17,8.862664e+17,8.862664e+17,8.405479e+17,8.405479e+17,0.0,0.0,8.860534e+17,8.860534e+17,79116.000000


## æ¸…ç†

### é—®é¢˜1

#### å®šä¹‰  
- é€‰æ‹©æ‰€æœ‰éæè¿°ä¸”æ‹¼å†™é”™è¯¯çš„åˆ—æ ‡é¢˜ (ApplicationPã€AboutCã€RequiredQualã€JobRequirment) å¹¶æ›¿æ¢ä¸ºå®Œæ•´å•è¯ (ApplicationProcedureã€AboutCompanyã€RequiredQualificationsã€JobRequirements)

#### ä»£ç 

#### æµ‹è¯•

## åˆ†æå’Œå¯è§†åŒ–

#### è´¨é‡
##### `patients` è¡¨æ ¼
- é‚®ç¼–æ˜¯æµ®ç‚¹ï¼Œè€Œä¸æ˜¯å­—ç¬¦ä¸²
- é‚®ç¼–æœ‰æ—¶æ˜¯å››ä½æ•°
- Tim Neudorf çš„èº«é«˜æ˜¯ 27 è‹±å°ºï¼Œè€Œä¸æ˜¯ 72 è‹±å°º
- æœ‰æ—¶ä½¿ç”¨å·çš„å…¨ç§°ï¼Œå…¶ä»–ç”¨ç®€ç§°
- Dsvid Gustafsson
- ç¼ºå°‘äººå£ç»Ÿè®¡ä¿¡æ¯ (åœ°å€åˆ—è‡³è”ç³»æ–¹å¼åˆ—) ***(æ— æ³•æ¸…ç†)***
- é”™è¯¯çš„æ•°æ®ç±»å‹ (æŒ‡å®šæ€§åˆ«ã€å·ã€é‚®ç¼–å’Œå‡ºç”Ÿæ—¥æœŸåˆ—)
- å¤šä¸ªæ‰‹æœºå·æ ¼å¼
- John Doe çš„é»˜è®¤æ•°æ®
- Jakobsenã€Gerstenã€Taylor å¤šæ¡è®°å½•
- Zaitseva ä½“é‡å•ä½æ˜¯ kgsï¼Œä¸æ˜¯ lbs 

##### `treatments` è¡¨æ ¼
- ç¼ºå°‘ HbA1c å˜åŒ–
- Auralin å’Œ Novodra åˆå§‹å‰‚é‡å’Œæœ€ç»ˆå‰‚é‡ä¸­çš„å­—æ¯ 'u' 
- å°å†™å½¢å¼çš„å§“å’Œå
- ç¼ºå°‘è®°å½• (280 è€Œä¸æ˜¯ 350)
- é”™è¯¯çš„æ•°æ®ç±»å‹ (auralin å’Œ novodra åˆ—)
- HbA1c å˜åŒ–ä¸å‡†ç¡® (é¦–ä¸ª 4s è¯¯å†™ä¸º 9s)
- auralin å’Œ novodra åˆ—ä¸­ç©ºå€¼ç”¨ç ´æŠ˜å· (-) è¡¨ç¤º

##### `adverse_reactions` è¡¨æ ¼
- å°å†™å½¢å¼çš„å§“å’Œå

#### æ¸…æ´åº¦
-  `patients` è¡¨æ ¼ä¸­çš„è”ç³»æ–¹å¼ä¸€åˆ—åº”è¯¥æ‹†åˆ†ä¸ºä¸¤ä¸ªå˜é‡ï¼šæ‰‹æœºå·å’Œé‚®ç®±
-  `treatments` è¡¨æ ¼ä¸¤åˆ—ä¸­çš„ä¸‰ä¸ªå˜é‡ (æ²»ç–—ã€åˆå§‹å‰‚é‡å’Œæœ€ç»ˆå‰‚é‡)
- ä¸è‰¯ååº”åº”æ˜¯ `treatments` è¡¨æ ¼çš„ä¸€éƒ¨åˆ†
-  `patients` è¡¨æ ¼ä¸­çš„å§“å’Œåä¸¤åˆ—å¤åˆ¶åˆ° `treatments` å’Œ `adverse_reactions` è¡¨æ ¼ä¸­

## æ¸…ç†